<form [formGroup]="form" (submit)="onFormSubmit()">
  <mat-form-field class="field-wide">
    <input matInput type="text" placeholder="First name" formControlName="firstName" />
  </mat-form-field>

  <mat-form-field class="field-wide">
    <input matInput type="text" placeholder="Last name" formControlName="lastName" />
  </mat-form-field>

  <app-address-form
    (formReady)="formInitialized('address', $event)"
    [address]="data.address"
  ></app-address-form>

  <button mat-button type="submit">Save</button>
</form>

<mat-divider></mat-divider>

Current form state:
<pre>{{ form.value | json }}</pre>
