<div [formGroup]="form">
  <mat-form-field class="field-wide">
    <input matInput type="text" placeholder="City" formControlName="city" />
  </mat-form-field>

  <mat-form-field class="field-wide">
    <input matInput type="text" placeholder="Street" formControlName="street" />
  </mat-form-field>
</div>
