<mat-card>
  <mat-card-title>Simple dashboard</mat-card-title>
  <mat-card-content>
    <app-basic-table
      [people]="people | async"
      (addNewEvent)="onAddNewPerson($event)"
      (editEvent)="onEdit($event)"
    ></app-basic-table>
  </mat-card-content>
</mat-card>
